* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN-BG: #262626;
    --WHITE-TEXT: #ffffff;
}

body {
    background-color: var(--MAIN-BG);
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header-container{
    height: 75px;
    background-color: var(--MAIN-BG);
    display: flex;
    justify-content: center;
}

/* Welcome Section */

.welcome-name{
    color: var(--WHITE-TEXT);
    font-size: 3rem;
}