/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN-BG: #262626;
    --WHITE-TEXT: #ffffff;
}

body {
    background-color: var(--MAIN-BG);
    min-height: 100vh;
    position: relative;
    font-family: "Lato", sans-serif;
}

/* Header */

.header-container{
    height: 75px;
    background-color: var(--MAIN-BG);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    font-family: "Source-Sans-Pro", sans-serif;
}

/* Welcome Section */

.welcome-name{
    color: var(--WHITE-TEXT);
    font-size: 3rem;
    font-family: "Source-Sans-Pro", sans-serif;
}